{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Product </th>
      <th>Amount (g/ml)</th>
      <th>Price (€)</th>
    </tr>
    {% for waste in waste %}
    <tr>
      <td> {{ waste.name }} </td>
      <td> {{ waste.amount }} </td>
      <td> {{ waste.price }} </td>
      <td>
	<form method="POST" action="{{ url_for('delete_permanently', waste_id=waste.id) }}">
	  <input type="submit" value="Delete permanently"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
