{% extends "layout.html" %}

{% block body %}

  <table class="table table-info">
  <h2>Used food</h2>
    <tr>
      <th>Product </th>
      <th>Amount (g/ml)</th>
      <th>Price (€)</th>
      <th>Date </th>
    </tr>
    {% for dishes in dishes %}
    <tr>
      <td> {{ dishes.name }} </td>
      <td> {{ dishes.amount }} </td>
      <td> {{ dishes.price }} </td>
      <td> {{ dishes.date_created }} </td>
    </tr>
      <td>
  <form method="POST" action="{{ url_for('add_favorite', dish_id=dish.id) }}">
    <input type="submit" class="btn btn-success" value="Add favorites"/>
  </form>
      </td>
     <td>
  <form method="POST" action="{{ url_for('delete_dish_permanently', dish_id=dishes.id) }}">
    <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure? This will affect to your data in the main page')" value="Delete permanently"/>
  </form>
    </td>
      {% endfor %}
  </table>
   <table class="table table-warning">
  	<h2>Wasted food</h2>
    <tr>
      <th>Product </th>
      <th>Amount (g/ml)</th>
      <th>Price (€)</th>
      <th>Date </th>
    </tr>
    {% for waste in waste %}
    <tr>
      <td> {{ waste.name }} </td>
      <td> {{ waste.amount }} </td>
      <td> {{ waste.price }} </td>
      <td> {{ waste.date_created }}
      <td>
	<form method="POST" action="{{ url_for('delete_permanently', waste_id=waste.id) }}">
	  <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure? This will affect to your data in the main page')" value="Delete permanently"/>
	</form>
      </td>
    </tr>
    {% endfor %}
{% endblock %}
