{% extends "layout.html" %}


{% block body %}
{% for item in items %}
  <table class="table table-sm table-dark">
    <tr>
      <th>Total items in the fridge</th>
    </tr>
    <tr>
      <td> {{ item.total_products }} </td>
      <td>
    </tr>
    {% endfor %}
  <table class="table table-sm table-dark">
    <tr>
      <th>Product</th>
      <th>Amount (g/ml)</th>
      <th>Price (€)</th>
    </tr>
    {% for product in products %}
    <tr>
      <td> {{ product.name }} </td>
      <td> {{ product.amount }} </td>
      <td> {{ product.price }} </td>
      <td>
    {% if error %}
    <h2 class=error><strong>Error:</strong> {{ error }}
  {% endif %}
	<form method="POST" action="{{ url_for('eat_simple', product_id=product.id) }}">
          <input type="text" name="amount"/>
	  <input type="submit" value="Eat"/>
	</form>
      </td>
      <td>
  <form method="POST" action="{{ url_for('throw_waste', product_id=product.id) }}"><input type="text" name="waste"/>
    <input type="submit" value="Throw away"/>
  </form>
      </td>
      <td>
	<form method="POST" action="{{ url_for('products_delete', product_id=product.id) }}">
	  <input type="submit" class="btn btn-warning" value="Delete product"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
